USE [master]
GO
/****** Object:  Database [Otomasyon]    Script Date: 24.7.2017 19:45:59 ******/
CREATE DATABASE [Otomasyon]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Otomasyon', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Otomasyon.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Otomasyon_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Otomasyon_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Otomasyon].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Otomasyon]
GO
/****** Object:  User [YeniKullanici]    Script Date: 24.7.2017 19:45:59 ******/
CREATE USER [YeniKullanici] FOR LOGIN [YeniKullanici] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[TBL_BANKAHAREKETLERI]    Script Date: 24.7.2017 19:45:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_BANKAHAREKETLERI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BANKAID] [int] NULL,
	[CARIID] [int] NULL,
	[BELGENO] [nvarchar](30) NULL,
	[TARIH] [datetime] NULL,
	[EVRAKTURU] [nvarchar](30) NULL,
	[EVRAKID] [int] NULL,
	[GCKODU] [nvarchar](1) NULL,
	[TUTAR] [decimal](18, 2) NULL,
	[ACIKLAMA] [text] NULL,
	[SAVEDATE] [datetime] NULL,
	[SAVEUSER] [int] NULL,
	[EDITDATE] [datetime] NULL,
	[EDITUSER] [int] NULL,
 CONSTRAINT [PK_TBL_BANKAHAREKETLERI] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_BANKALAR]    Script Date: 24.7.2017 19:45:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_BANKALAR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HESAPNO] [nvarchar](30) NULL,
	[IBAN] [nvarchar](50) NULL,
	[BANKAADI] [nvarchar](30) NULL,
	[HESAPADI] [nvarchar](30) NULL,
	[SUBE] [nvarchar](30) NULL,
	[TEL] [nvarchar](16) NULL,
	[ADRES] [text] NULL,
	[TEMSILCI] [nvarchar](50) NULL,
	[TEMSILCIEMAIL] [nvarchar](150) NULL,
	[SAVEDATE] [datetime] NULL,
	[SAVEUSER] [int] NULL,
	[EDITDATE] [datetime] NULL,
	[EDITUSER] [int] NULL,
 CONSTRAINT [PK_TBL_BANKALAR] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_BORDROLAR]    Script Date: 24.7.2017 19:45:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_BORDROLAR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NUMARA] [nvarchar](30) NULL,
	[CARIID] [int] NULL,
	[TARIH] [datetime] NULL,
	[ACIKLAMA] [text] NULL,
	[SAVEUSER] [int] NULL,
	[SAVEDATE] [datetime] NULL,
	[EDITUSER] [int] NULL,
	[EDITDATE] [datetime] NULL,
 CONSTRAINT [PK_TBL_BORDROLAR] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_CARIGRUPLARI]    Script Date: 24.7.2017 19:45:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_CARIGRUPLARI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GRUPADI] [nvarchar](30) NULL,
	[GRUPKODU] [nvarchar](50) NULL,
	[SAVEDATE] [datetime] NULL,
	[SAVEUSER] [int] NULL,
	[EDITDATE] [datetime] NULL,
	[EDITUSER] [int] NULL,
 CONSTRAINT [PK_TBL_CARIGRUPLARI] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_CARIHAREKETLERI]    Script Date: 24.7.2017 19:45:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_CARIHAREKETLERI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CARIID] [int] NULL,
	[EVRAKTURU] [nvarchar](30) NULL,
	[EVRAKID] [int] NULL,
	[BORC] [decimal](18, 2) NULL,
	[ALACAK] [decimal](18, 2) NULL,
	[ACIKLAMA] [text] NULL,
	[TARIH] [datetime] NULL,
	[TIPI] [nvarchar](25) NULL,
	[SAVEDATE] [datetime] NULL,
	[SAVEUSER] [int] NULL,
	[EDITDATE] [datetime] NULL,
	[EDITUSER] [int] NULL,
 CONSTRAINT [PK_TBL_CARIHAREKETLERI] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_CARILER]    Script Date: 24.7.2017 19:45:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_CARILER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CARIKODU] [nvarchar](30) NULL,
	[CARIADI] [nvarchar](30) NULL,
	[VERGIDAIRESI] [nvarchar](50) NULL,
	[VERGINO] [nvarchar](20) NULL,
	[GRUPID] [int] NULL,
	[ULKE] [nvarchar](30) NULL,
	[SEHIR] [nvarchar](30) NULL,
	[ILCE] [nvarchar](30) NULL,
	[ADRES] [text] NULL,
	[TELEFON1] [nvarchar](16) NULL,
	[TELEFON2] [nvarchar](16) NULL,
	[FAX1] [nvarchar](16) NULL,
	[FAX2] [nvarchar](16) NULL,
	[WEBADRES] [nvarchar](150) NULL,
	[MAILINFO] [nvarchar](250) NULL,
	[YETKILI1] [nvarchar](50) NULL,
	[YETKILIEMAIL1] [nvarchar](250) NULL,
	[YETKILI2] [nvarchar](50) NULL,
	[YETKILIEMAIL2] [nvarchar](250) NULL,
	[SAVEDATE] [datetime] NULL,
	[SAVEUSER] [int] NULL,
	[EDITDATE] [datetime] NULL,
	[EDITUSER] [int] NULL,
 CONSTRAINT [PK_TBL_CARILER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_CEKLER]    Script Date: 24.7.2017 19:45:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_CEKLER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BELGENO] [nvarchar](30) NULL,
	[CEKNO] [nvarchar](50) NULL,
	[ASILBORCLU] [nvarchar](50) NULL,
	[TIPI] [nvarchar](50) NULL,
	[ALINANCARIID] [int] NULL,
	[VERILENCARIID] [int] NULL,
	[ACKODU] [nvarchar](1) NULL,
	[VADETARIHI] [datetime] NULL,
	[BANKA] [nvarchar](50) NULL,
	[SUBE] [nvarchar](50) NULL,
	[HESAPNO] [nvarchar](50) NULL,
	[TUTAR] [decimal](18, 2) NULL,
	[ACIKLAMA] [text] NULL,
	[VERILENBANKA_TARIHI] [datetime] NULL,
	[VERILENBANKA_BELGENO] [nvarchar](30) NULL,
	[VERILENCARI_TARIHI] [datetime] NULL,
	[VERILENCARI_BELGENO] [nvarchar](50) NULL,
	[VERILENBANKAID] [int] NULL,
	[DURUMU] [nvarchar](50) NULL,
	[TAHSIL] [nvarchar](50) NULL,
	[BORDROID] [int] NULL,
	[TARIH] [datetime] NULL,
	[SAVEUSER] [int] NULL,
	[SAVEDATE] [datetime] NULL,
	[EDITUSER] [int] NULL,
	[EDITDATE] [datetime] NULL,
 CONSTRAINT [PK_TBL_CEKLER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_FATURALAR]    Script Date: 24.7.2017 19:45:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_FATURALAR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FATURATURU] [nvarchar](25) NULL,
	[FATURASERI] [nvarchar](5) NULL,
	[FATURANO] [nvarchar](15) NULL,
	[IRSALIYEID] [int] NULL,
	[CARIKODU] [nvarchar](30) NULL,
	[TARIHI] [datetime] NULL,
	[ACIKLAMA] [text] NULL,
	[GENELTOPLAM] [decimal](18, 2) NULL,
	[ODEMEYERI] [nvarchar](10) NULL,
	[ODEMEYERIID] [int] NULL,
	[SAVEUSER] [int] NULL,
	[SAVEDATE] [datetime] NULL,
	[EDITUSER] [int] NULL,
	[EDITDATE] [datetime] NULL,
 CONSTRAINT [PK_TBLFATURALAR] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_IRSALIYELER]    Script Date: 24.7.2017 19:45:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_IRSALIYELER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IRSALIYESERI] [nvarchar](5) NULL,
	[IRSALIYENO] [nvarchar](15) NULL,
	[FATURAID] [int] NULL,
	[CARIKODU] [nvarchar](30) NULL,
	[TARIHI] [datetime] NULL,
	[ACIKLAMA] [text] NULL,
	[SAVEUSER] [int] NULL,
	[SAVEDATE] [datetime] NULL,
	[EDITUSER] [int] NULL,
	[EDITDATE] [datetime] NULL,
 CONSTRAINT [PK_TBLIRSALIYELER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_KASAHAREKETLERI]    Script Date: 24.7.2017 19:45:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_KASAHAREKETLERI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KASAID] [int] NULL,
	[CARIID] [int] NULL,
	[BELGENO] [nvarchar](50) NULL,
	[EVRAKTURU] [nvarchar](30) NULL,
	[EVRAKID] [int] NULL,
	[TARIH] [datetime] NULL,
	[GCKODU] [nvarchar](1) NULL,
	[TUTAR] [decimal](18, 2) NULL,
	[ACIKLAMA] [text] NULL,
	[SAVEDATE] [datetime] NULL,
	[SAVEUSER] [int] NULL,
	[EDITDATE] [datetime] NULL,
	[EDITUSER] [int] NULL,
 CONSTRAINT [PK_TBL_KASAHAREKETLERI] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_KASALAR]    Script Date: 24.7.2017 19:45:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_KASALAR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KASAKODU] [nvarchar](30) NULL,
	[KASAADI] [nvarchar](30) NULL,
	[ACIKLAMA] [text] NULL,
	[SAVEDATE] [datetime] NULL,
	[SAVEUSER] [int] NULL,
	[EDITDATE] [datetime] NULL,
	[EDITUSER] [int] NULL,
 CONSTRAINT [PK_TBL_KASALAR] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_KULLANICILAR]    Script Date: 24.7.2017 19:45:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_KULLANICILAR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KULLANICI] [nvarchar](50) NULL,
	[SIFRE] [nvarchar](50) NULL,
	[ISIM] [nvarchar](50) NULL,
	[SOYISIM] [nvarchar](50) NULL,
	[AKTIF] [bit] NULL,
	[KODU] [nvarchar](50) NULL,
	[SAVEDATE] [datetime] NULL,
	[EDITDATE] [datetime] NULL,
	[LASTLOGIN] [datetime] NULL,
 CONSTRAINT [PK_TBL_KULLANICILAR] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_STOKGRUPLARI]    Script Date: 24.7.2017 19:45:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_STOKGRUPLARI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GRUPADI] [nvarchar](30) NULL,
	[GRUPKODU] [nvarchar](30) NULL,
	[GRUPSAVEUSER] [int] NULL,
	[GRUPSAVEDATE] [datetime] NULL,
	[GRUPEDITUSER] [int] NULL,
	[GRUPEDITDATE] [datetime] NULL,
 CONSTRAINT [PK_TBL_STOKGRUPLARI] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_STOKHAREKETLERI]    Script Date: 24.7.2017 19:45:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_STOKHAREKETLERI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FATURAID] [int] NULL,
	[IRSALIYEID] [int] NULL,
	[STOKKODU] [nvarchar](30) NULL,
	[GCKODU] [nvarchar](1) NULL,
	[MIKTAR] [int] NULL,
	[BIRIMFIYAT] [decimal](18, 2) NULL,
	[KDV] [decimal](8, 2) NULL,
	[TIPI] [nvarchar](20) NULL,
	[SAVEUSER] [int] NULL CONSTRAINT [DF_TBL_STOKHAREKETLERI_SAVEUSER]  DEFAULT ((-1)),
	[SAVEDATE] [datetime] NULL CONSTRAINT [DF_TBL_STOKHAREKETLERI_SAVEDATE]  DEFAULT (getdate()),
	[EDITUSER] [int] NULL CONSTRAINT [DF_TBL_STOKHAREKETLERI_EDITUSER]  DEFAULT ((-1)),
	[EDITDATE] [datetime] NULL CONSTRAINT [DF_TBL_STOKHAREKETLERI_EDITDATE]  DEFAULT (getdate()),
 CONSTRAINT [PK_TBL_STOKHAREKETLERI] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_STOKLAR]    Script Date: 24.7.2017 19:45:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_STOKLAR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[STOKBARKOD] [nvarchar](30) NULL,
	[STOKKODU] [nvarchar](20) NULL,
	[STOKADI] [nchar](10) NULL,
	[STOKBIRIM] [nvarchar](15) NULL,
	[STOKALISFIYAT] [decimal](8, 2) NULL,
	[STOKSATISFIYAT] [decimal](8, 2) NULL,
	[STOKALISKDV] [decimal](8, 2) NULL,
	[STOKSATISKDV] [decimal](8, 2) NULL,
	[STOKGRUPID] [int] NULL,
	[STOKRESIM] [image] NULL,
	[STOKSAVEUSER] [int] NULL,
	[STOKSAVEDATE] [datetime] NULL,
	[STOKEDITUSER] [int] NULL,
	[STOKEDITDATE] [datetime] NULL,
 CONSTRAINT [PK_TBL_STOKLAR] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  View [dbo].[VW_KASADURUM]    Script Date: 24.7.2017 19:45:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_KASADURUM]
AS
SELECT        KASAID, SUM(CASE WHEN GCKODU = 'G' THEN TUTAR ELSE 0 END) AS GIRIS, SUM(CASE WHEN GCKODU = 'C' THEN TUTAR ELSE 0 END) AS CIKIS, SUM(CASE WHEN GCKODU = 'G' THEN TUTAR ELSE 0 END) 
                         - SUM(CASE WHEN GCKODU = 'C' THEN TUTAR ELSE 0 END) AS BAKIYE
FROM            dbo.TBL_KASAHAREKETLERI
GROUP BY KASAID

GO
/****** Object:  View [dbo].[VW_KASALISTESI]    Script Date: 24.7.2017 19:45:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_KASALISTESI]
AS
SELECT        dbo.TBL_KASALAR.ID, dbo.TBL_KASALAR.KASAKODU, dbo.TBL_KASALAR.KASAADI, dbo.TBL_KASALAR.ACIKLAMA, (CASE WHEN dbo.VW_KASADURUM.GIRIS IS NULL 
                         THEN 0 ELSE dbo.VW_KASADURUM.GIRIS END) AS GIRIS, (CASE WHEN dbo.VW_KASADURUM.CIKIS IS NULL THEN 0 ELSE dbo.VW_KASADURUM.CIKIS END) AS CIKIS, 
                         (CASE WHEN dbo.VW_KASADURUM.BAKIYE IS NULL THEN 0 ELSE dbo.VW_KASADURUM.BAKIYE END) AS BAKIYE
FROM            dbo.TBL_KASALAR LEFT OUTER JOIN
                         dbo.VW_KASADURUM ON dbo.TBL_KASALAR.ID = dbo.VW_KASADURUM.KASAID

GO
/****** Object:  View [dbo].[VW_BANKADURUM]    Script Date: 24.7.2017 19:45:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_BANKADURUM]
AS
SELECT        dbo.TBL_BANKALAR.ID, SUM(CASE WHEN dbo.TBL_BANKAHAREKETLERI.GCKODU = 'G' THEN dbo.TBL_BANKAHAREKETLERI.TUTAR ELSE 0 END) AS GIRIS, 
                         SUM(CASE WHEN dbo.TBL_BANKAHAREKETLERI.GCKODU = 'C' THEN dbo.TBL_BANKAHAREKETLERI.TUTAR ELSE 0 END) AS CIKIS, 
                         SUM(CASE WHEN dbo.TBL_BANKAHAREKETLERI.GCKODU = 'G' THEN dbo.TBL_BANKAHAREKETLERI.TUTAR ELSE 0 END) 
                         - SUM(CASE WHEN dbo.TBL_BANKAHAREKETLERI.GCKODU = 'C' THEN dbo.TBL_BANKAHAREKETLERI.TUTAR ELSE 0 END) AS BAKIYE
FROM            dbo.TBL_BANKALAR LEFT OUTER JOIN
                         dbo.TBL_BANKAHAREKETLERI ON dbo.TBL_BANKALAR.ID = dbo.TBL_BANKAHAREKETLERI.BANKAID
GROUP BY dbo.TBL_BANKALAR.ID

GO
/****** Object:  View [dbo].[VW_BANKALISTESI]    Script Date: 24.7.2017 19:45:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_BANKALISTESI]
AS
SELECT        dbo.TBL_BANKALAR.ID, dbo.TBL_BANKALAR.HESAPNO, dbo.TBL_BANKALAR.IBAN, dbo.TBL_BANKALAR.BANKAADI, dbo.TBL_BANKALAR.HESAPADI, dbo.VW_BANKADURUM.GIRIS, 
                         dbo.VW_BANKADURUM.CIKIS, dbo.VW_BANKADURUM.BAKIYE
FROM            dbo.VW_BANKADURUM RIGHT OUTER JOIN
                         dbo.TBL_BANKALAR ON dbo.VW_BANKADURUM.ID = dbo.TBL_BANKALAR.ID

GO
/****** Object:  View [dbo].[VW_KALEMLER]    Script Date: 24.7.2017 19:45:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[VW_KALEMLER]
AS
SELECT     dbo.TBL_STOKHAREKETLERI.ID, dbo.TBL_STOKLAR.ID AS STOKID, dbo.TBL_STOKHAREKETLERI.FATURAID, dbo.TBL_STOKHAREKETLERI.IRSALIYEID, 
                      dbo.TBL_STOKLAR.STOKKODU, dbo.TBL_STOKLAR.STOKADI, dbo.TBL_STOKLAR.STOKBARKOD, dbo.TBL_STOKLAR.STOKBIRIM, 
                      dbo.TBL_STOKHAREKETLERI.BIRIMFIYAT, dbo.TBL_STOKHAREKETLERI.KDV, dbo.TBL_STOKHAREKETLERI.MIKTAR, 
                      dbo.TBL_STOKHAREKETLERI.MIKTAR * dbo.TBL_STOKHAREKETLERI.BIRIMFIYAT AS TOPLAM
FROM         dbo.TBL_STOKHAREKETLERI LEFT OUTER JOIN
                      dbo.TBL_STOKLAR ON dbo.TBL_STOKHAREKETLERI.STOKKODU = dbo.TBL_STOKLAR.STOKKODU


GO
/****** Object:  View [dbo].[VW_FATURALAR]    Script Date: 24.7.2017 19:45:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[VW_FATURALAR]
AS
SELECT        dbo.TBL_FATURALAR.CARIKODU, dbo.TBL_CARILER.CARIADI, dbo.TBL_CARILER.VERGIDAIRESI, dbo.TBL_CARILER.VERGINO, dbo.TBL_CARILER.SEHIR, dbo.TBL_CARILER.ILCE, dbo.TBL_CARILER.ADRES, 
                         dbo.TBL_FATURALAR.FATURANO, dbo.TBL_FATURALAR.TARIHI, dbo.TBL_FATURALAR.ACIKLAMA, dbo.TBL_FATURALAR.GENELTOPLAM, dbo.VW_KALEMLER.STOKKODU, dbo.VW_KALEMLER.STOKADI, 
                         dbo.VW_KALEMLER.STOKBIRIM, dbo.VW_KALEMLER.BIRIMFIYAT, dbo.VW_KALEMLER.KDV, dbo.VW_KALEMLER.STOKBARKOD, dbo.VW_KALEMLER.MIKTAR, dbo.VW_KALEMLER.TOPLAM
FROM            dbo.VW_KALEMLER INNER JOIN
                         dbo.TBL_FATURALAR ON dbo.VW_KALEMLER.FATURAID = dbo.TBL_FATURALAR.ID LEFT OUTER JOIN
                         dbo.TBL_CARILER ON dbo.TBL_FATURALAR.CARIKODU = dbo.TBL_CARILER.CARIKODU


GO
/****** Object:  View [dbo].[VW_BANKAHAREKETLERI]    Script Date: 24.7.2017 19:45:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_BANKAHAREKETLERI]
AS
SELECT        dbo.TBL_BANKAHAREKETLERI.ID, dbo.TBL_BANKAHAREKETLERI.BANKAID, dbo.TBL_BANKAHAREKETLERI.CARIID, dbo.TBL_BANKAHAREKETLERI.BELGENO, dbo.TBL_BANKAHAREKETLERI.TARIH, 
                         dbo.TBL_BANKAHAREKETLERI.EVRAKTURU, dbo.TBL_BANKAHAREKETLERI.EVRAKID, dbo.TBL_BANKAHAREKETLERI.TUTAR, dbo.TBL_BANKAHAREKETLERI.ACIKLAMA, 
                         (CASE WHEN dbo.TBL_BANKAHAREKETLERI.GCKODU = 'G' THEN dbo.TBL_BANKAHAREKETLERI.TUTAR ELSE 0 END) AS GIRIS, 
                         (CASE WHEN dbo.TBL_BANKAHAREKETLERI.GCKODU = 'C' THEN dbo.TBL_BANKAHAREKETLERI.TUTAR ELSE 0 END) AS CIKIS, dbo.TBL_BANKALAR.HESAPADI, dbo.TBL_BANKALAR.HESAPNO
FROM            dbo.TBL_BANKAHAREKETLERI LEFT OUTER JOIN
                         dbo.TBL_BANKALAR ON dbo.TBL_BANKAHAREKETLERI.BANKAID = dbo.TBL_BANKALAR.ID

GO
/****** Object:  View [dbo].[VW_KASAHAREKETLERI]    Script Date: 24.7.2017 19:45:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_KASAHAREKETLERI]
AS
SELECT        dbo.TBL_KASAHAREKETLERI.KASAID, dbo.TBL_KASAHAREKETLERI.ID, dbo.TBL_KASAHAREKETLERI.CARIID, dbo.TBL_KASALAR.KASAKODU, dbo.TBL_KASALAR.KASAADI, dbo.TBL_CARILER.CARIKODU, 
                         dbo.TBL_CARILER.CARIADI, dbo.TBL_KASAHAREKETLERI.BELGENO, dbo.TBL_KASAHAREKETLERI.EVRAKTURU, dbo.TBL_KASAHAREKETLERI.EVRAKID, dbo.TBL_KASAHAREKETLERI.TARIH, 
                         (CASE WHEN dbo.TBL_KASAHAREKETLERI.GCKODU = 'G' THEN dbo.TBL_KASAHAREKETLERI.TUTAR ELSE 0 END) AS GIRIS, 
                         (CASE WHEN dbo.TBL_KASAHAREKETLERI.GCKODU = 'C' THEN dbo.TBL_KASAHAREKETLERI.TUTAR ELSE 0 END) AS CIKIS, dbo.TBL_KASAHAREKETLERI.ACIKLAMA
FROM            dbo.TBL_KASAHAREKETLERI LEFT OUTER JOIN
                         dbo.TBL_KASALAR ON dbo.TBL_KASAHAREKETLERI.KASAID = dbo.TBL_KASALAR.ID LEFT OUTER JOIN
                         dbo.TBL_CARILER ON dbo.TBL_KASAHAREKETLERI.CARIID = dbo.TBL_CARILER.ID

GO
SET IDENTITY_INSERT [dbo].[TBL_BANKAHAREKETLERI] ON 

INSERT [dbo].[TBL_BANKAHAREKETLERI] ([ID], [BANKAID], [CARIID], [BELGENO], [TARIH], [EVRAKTURU], [EVRAKID], [GCKODU], [TUTAR], [ACIKLAMA], [SAVEDATE], [SAVEUSER], [EDITDATE], [EDITUSER]) VALUES (1, 1, NULL, N'1535345345', CAST(N'2017-07-12 00:00:00.000' AS DateTime), N'Banka İşlem', NULL, N'G', CAST(367.00 AS Decimal(18, 2)), N'Ilk deneme girisimizzzzz', CAST(N'2017-07-12 21:40:28.810' AS DateTime), -1, CAST(N'2017-07-12 23:34:05.473' AS DateTime), -1)
INSERT [dbo].[TBL_BANKAHAREKETLERI] ([ID], [BANKAID], [CARIID], [BELGENO], [TARIH], [EVRAKTURU], [EVRAKID], [GCKODU], [TUTAR], [ACIKLAMA], [SAVEDATE], [SAVEUSER], [EDITDATE], [EDITUSER]) VALUES (2, 1, NULL, N'5435435', CAST(N'2017-07-12 00:00:00.000' AS DateTime), N'Banka İşlem', NULL, N'C', CAST(23.00 AS Decimal(18, 2)), N'Ilk deneme çikisi', CAST(N'2017-07-12 21:40:48.670' AS DateTime), -1, NULL, NULL)
INSERT [dbo].[TBL_BANKAHAREKETLERI] ([ID], [BANKAID], [CARIID], [BELGENO], [TARIH], [EVRAKTURU], [EVRAKID], [GCKODU], [TUTAR], [ACIKLAMA], [SAVEDATE], [SAVEUSER], [EDITDATE], [EDITUSER]) VALUES (3, 1, 1, N'123', CAST(N'2017-07-12 00:00:00.000' AS DateTime), N'Banka Havale', NULL, N'G', CAST(165.00 AS Decimal(18, 2)), N'Ilk deneme gelen havaleeeee', CAST(N'2017-07-12 22:25:08.740' AS DateTime), -1, CAST(N'2017-07-12 23:34:19.980' AS DateTime), -1)
SET IDENTITY_INSERT [dbo].[TBL_BANKAHAREKETLERI] OFF
SET IDENTITY_INSERT [dbo].[TBL_BANKALAR] ON 

INSERT [dbo].[TBL_BANKALAR] ([ID], [HESAPNO], [IBAN], [BANKAADI], [HESAPADI], [SUBE], [TEL], [ADRES], [TEMSILCI], [TEMSILCIEMAIL], [SAVEDATE], [SAVEUSER], [EDITDATE], [EDITUSER]) VALUES (1, N'123143242', N'TR3553453453232', N'Akbankkk', N'Vadesiz-TL', N'TR3553453453232', N'02131323543', N'idfgjifdgodfgdfg', N'Ramazan Aras', N'ramazan@hotmail.com', CAST(N'2017-07-12 21:00:35.720' AS DateTime), -1, CAST(N'2017-07-12 21:03:59.283' AS DateTime), -1)
SET IDENTITY_INSERT [dbo].[TBL_BANKALAR] OFF
SET IDENTITY_INSERT [dbo].[TBL_CARIGRUPLARI] ON 

INSERT [dbo].[TBL_CARIGRUPLARI] ([ID], [GRUPADI], [GRUPKODU], [SAVEDATE], [SAVEUSER], [EDITDATE], [EDITUSER]) VALUES (1, N'Deneme Cari Grubuu', N'0000001', CAST(N'2017-02-19 17:53:06.190' AS DateTime), -1, CAST(N'2017-02-19 18:01:51.500' AS DateTime), -1)
INSERT [dbo].[TBL_CARIGRUPLARI] ([ID], [GRUPADI], [GRUPKODU], [SAVEDATE], [SAVEUSER], [EDITDATE], [EDITUSER]) VALUES (2, N'Deneme Cari Grubu2', N'0000002', CAST(N'2017-02-19 17:55:48.780' AS DateTime), -1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[TBL_CARIGRUPLARI] OFF
SET IDENTITY_INSERT [dbo].[TBL_CARIHAREKETLERI] ON 

INSERT [dbo].[TBL_CARIHAREKETLERI] ([ID], [CARIID], [EVRAKTURU], [EVRAKID], [BORC], [ALACAK], [ACIKLAMA], [TARIH], [TIPI], [SAVEDATE], [SAVEUSER], [EDITDATE], [EDITUSER]) VALUES (1, 1, N'Kasa Tahsilat', 2, NULL, CAST(200.00 AS Decimal(18, 2)), N'1241432 belge numarali  Kasa Tahsilat islemi ', CAST(N'2017-07-02 00:00:00.000' AS DateTime), N'KT', CAST(N'2017-07-02 13:13:52.977' AS DateTime), -1, CAST(N'2017-07-02 15:02:29.370' AS DateTime), -1)
INSERT [dbo].[TBL_CARIHAREKETLERI] ([ID], [CARIID], [EVRAKTURU], [EVRAKID], [BORC], [ALACAK], [ACIKLAMA], [TARIH], [TIPI], [SAVEDATE], [SAVEUSER], [EDITDATE], [EDITUSER]) VALUES (2, 1, N'Kasa Ödeme', 5, CAST(110.00 AS Decimal(18, 2)), NULL, N'123234 belge numarali  Kasa Ödeme islemi ', CAST(N'2017-07-02 00:00:00.000' AS DateTime), N'KÖ', CAST(N'2017-07-02 15:05:04.060' AS DateTime), -1, NULL, NULL)
INSERT [dbo].[TBL_CARIHAREKETLERI] ([ID], [CARIID], [EVRAKTURU], [EVRAKID], [BORC], [ALACAK], [ACIKLAMA], [TARIH], [TIPI], [SAVEDATE], [SAVEUSER], [EDITDATE], [EDITUSER]) VALUES (3, 1, N'Banka Havale', 3, NULL, CAST(165.00 AS Decimal(18, 2)), N'Ilk deneme gelen havaleeeee', CAST(N'2017-07-12 00:00:00.000' AS DateTime), N'BH', CAST(N'2017-07-12 22:25:08.767' AS DateTime), -1, CAST(N'2017-07-12 23:34:20.007' AS DateTime), -1)
SET IDENTITY_INSERT [dbo].[TBL_CARIHAREKETLERI] OFF
SET IDENTITY_INSERT [dbo].[TBL_CARILER] ON 

SET IDENTITY_INSERT [dbo].[TBL_CARILER] OFF
SET IDENTITY_INSERT [dbo].[TBL_CEKLER] ON 

SET IDENTITY_INSERT [dbo].[TBL_CEKLER] OFF
SET IDENTITY_INSERT [dbo].[TBL_FATURALAR] ON 

INSERT [dbo].[TBL_FATURALAR] ([ID], [FATURATURU], [FATURASERI], [FATURANO], [IRSALIYEID], [CARIKODU], [TARIHI], [ACIKLAMA], [GENELTOPLAM], [ODEMEYERI], [ODEMEYERIID], [SAVEUSER], [SAVEDATE], [EDITUSER], [EDITDATE]) VALUES (1, N'Satış Faturası', NULL, N'152535', 1, N'0000001', CAST(N'2017-07-22 00:00:00.000' AS DateTime), N'Deneme Fatura girisi', CAST(299.92 AS Decimal(18, 2)), N'', -1, -1, CAST(N'2017-07-22 20:19:52.407' AS DateTime), -1, CAST(N'2017-07-22 22:53:27.677' AS DateTime))
INSERT [dbo].[TBL_FATURALAR] ([ID], [FATURATURU], [FATURASERI], [FATURANO], [IRSALIYEID], [CARIKODU], [TARIHI], [ACIKLAMA], [GENELTOPLAM], [ODEMEYERI], [ODEMEYERIID], [SAVEUSER], [SAVEDATE], [EDITUSER], [EDITDATE]) VALUES (2, N'Satış Faturası', NULL, N'', 2, N'0000001', CAST(N'2017-07-22 00:00:00.000' AS DateTime), N'0.00', CAST(187.20 AS Decimal(18, 2)), N'', -1, -1, CAST(N'2017-07-22 20:20:58.193' AS DateTime), NULL, NULL)
INSERT [dbo].[TBL_FATURALAR] ([ID], [FATURATURU], [FATURASERI], [FATURANO], [IRSALIYEID], [CARIKODU], [TARIHI], [ACIKLAMA], [GENELTOPLAM], [ODEMEYERI], [ODEMEYERIID], [SAVEUSER], [SAVEDATE], [EDITUSER], [EDITDATE]) VALUES (3, N'Satış Faturası', NULL, N'55333', 3, N'0000001', CAST(N'2017-07-22 00:00:00.000' AS DateTime), N'', CAST(606.08 AS Decimal(18, 2)), N'', -1, -1, CAST(N'2017-07-22 20:22:31.293' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[TBL_FATURALAR] OFF
SET IDENTITY_INSERT [dbo].[TBL_IRSALIYELER] ON 

INSERT [dbo].[TBL_IRSALIYELER] ([ID], [IRSALIYESERI], [IRSALIYENO], [FATURAID], [CARIKODU], [TARIHI], [ACIKLAMA], [SAVEUSER], [SAVEDATE], [EDITUSER], [EDITDATE]) VALUES (1, NULL, N'12312', 1, N'0000001', CAST(N'2017-07-22 00:00:00.000' AS DateTime), N'Deneme Fatura girisi', -1, CAST(N'2017-07-22 20:19:52.553' AS DateTime), -1, CAST(N'2017-07-22 22:53:27.717' AS DateTime))
INSERT [dbo].[TBL_IRSALIYELER] ([ID], [IRSALIYESERI], [IRSALIYENO], [FATURAID], [CARIKODU], [TARIHI], [ACIKLAMA], [SAVEUSER], [SAVEDATE], [EDITUSER], [EDITDATE]) VALUES (2, NULL, N'', 2, N'0000001', CAST(N'2017-07-22 00:00:00.000' AS DateTime), N'0.00', -1, CAST(N'2017-07-22 20:20:58.220' AS DateTime), NULL, NULL)
INSERT [dbo].[TBL_IRSALIYELER] ([ID], [IRSALIYESERI], [IRSALIYENO], [FATURAID], [CARIKODU], [TARIHI], [ACIKLAMA], [SAVEUSER], [SAVEDATE], [EDITUSER], [EDITDATE]) VALUES (3, NULL, N'255644', 3, N'0000001', CAST(N'2017-07-22 00:00:00.000' AS DateTime), N'', -1, CAST(N'2017-07-22 20:22:31.327' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[TBL_IRSALIYELER] OFF
SET IDENTITY_INSERT [dbo].[TBL_KASAHAREKETLERI] ON 

INSERT [dbo].[TBL_KASAHAREKETLERI] ([ID], [KASAID], [CARIID], [BELGENO], [EVRAKTURU], [EVRAKID], [TARIH], [GCKODU], [TUTAR], [ACIKLAMA], [SAVEDATE], [SAVEUSER], [EDITDATE], [EDITUSER]) VALUES (1, 1, NULL, N'00000001', N'Kasa Devir Kartı', NULL, CAST(N'2017-07-02 00:00:00.000' AS DateTime), N'G', CAST(125.00 AS Decimal(18, 2)), N'Ilk deneme Kasa girisi', CAST(N'2017-07-02 12:16:35.957' AS DateTime), -1, NULL, NULL)
INSERT [dbo].[TBL_KASAHAREKETLERI] ([ID], [KASAID], [CARIID], [BELGENO], [EVRAKTURU], [EVRAKID], [TARIH], [GCKODU], [TUTAR], [ACIKLAMA], [SAVEDATE], [SAVEUSER], [EDITDATE], [EDITUSER]) VALUES (2, 1, 1, N'1241432', N'Kasa Tahsilat', NULL, CAST(N'2017-07-02 00:00:00.000' AS DateTime), N'G', CAST(200.00 AS Decimal(18, 2)), N'deneme kasa tahsilat', CAST(N'2017-07-02 13:13:51.637' AS DateTime), -1, CAST(N'2017-07-02 15:02:28.973' AS DateTime), -1)
INSERT [dbo].[TBL_KASAHAREKETLERI] ([ID], [KASAID], [CARIID], [BELGENO], [EVRAKTURU], [EVRAKID], [TARIH], [GCKODU], [TUTAR], [ACIKLAMA], [SAVEDATE], [SAVEUSER], [EDITDATE], [EDITUSER]) VALUES (3, 4, NULL, N'4234234', N'Kasa Devir Kartı', NULL, CAST(N'2017-07-02 00:00:00.000' AS DateTime), N'G', CAST(56.00 AS Decimal(18, 2)), N'Deneme', CAST(N'2017-07-02 14:34:07.053' AS DateTime), -1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[TBL_KASAHAREKETLERI] OFF
SET IDENTITY_INSERT [dbo].[TBL_KASALAR] ON 

INSERT [dbo].[TBL_KASALAR] ([ID], [KASAKODU], [KASAADI], [ACIKLAMA], [SAVEDATE], [SAVEUSER], [EDITDATE], [EDITUSER]) VALUES (1, N'0000001', N'Deneme KAsa', N'asdad', CAST(N'2017-07-02 11:19:57.747' AS DateTime), -1, NULL, NULL)
INSERT [dbo].[TBL_KASALAR] ([ID], [KASAKODU], [KASAADI], [ACIKLAMA], [SAVEDATE], [SAVEUSER], [EDITDATE], [EDITUSER]) VALUES (2, N'0000001', N'Deneme KAsayyret', N'asdadfdsfs', CAST(N'2017-07-02 11:24:00.493' AS DateTime), -1, NULL, NULL)
INSERT [dbo].[TBL_KASALAR] ([ID], [KASAKODU], [KASAADI], [ACIKLAMA], [SAVEDATE], [SAVEUSER], [EDITDATE], [EDITUSER]) VALUES (4, N'0000002', N'2.Kasa', N'2.Kassa Denemesi', CAST(N'2017-07-02 14:33:35.360' AS DateTime), -1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[TBL_KASALAR] OFF
SET IDENTITY_INSERT [dbo].[TBL_KULLANICILAR] ON 

INSERT [dbo].[TBL_KULLANICILAR] ([ID], [KULLANICI], [SIFRE], [ISIM], [SOYISIM], [AKTIF], [KODU], [SAVEDATE], [EDITDATE], [LASTLOGIN]) VALUES (1, N'FRK', N'1', N'FARUK', N'adasd', 1, N'Yönetici', NULL, CAST(N'2017-07-24 00:20:21.707' AS DateTime), CAST(N'2017-07-24 00:29:09.070' AS DateTime))
INSERT [dbo].[TBL_KULLANICILAR] ([ID], [KULLANICI], [SIFRE], [ISIM], [SOYISIM], [AKTIF], [KODU], [SAVEDATE], [EDITDATE], [LASTLOGIN]) VALUES (2, N'Ramazann', N'1234', N'Ramazan', N'aras', 1, N'Normal', CAST(N'2017-07-23 23:10:20.237' AS DateTime), CAST(N'2017-07-23 23:10:51.077' AS DateTime), CAST(N'2017-07-23 23:11:10.843' AS DateTime))
SET IDENTITY_INSERT [dbo].[TBL_KULLANICILAR] OFF
SET IDENTITY_INSERT [dbo].[TBL_STOKGRUPLARI] ON 

INSERT [dbo].[TBL_STOKGRUPLARI] ([ID], [GRUPADI], [GRUPKODU], [GRUPSAVEUSER], [GRUPSAVEDATE], [GRUPEDITUSER], [GRUPEDITDATE]) VALUES (1, N'Deneme Grubuu', N'0000001', -1, CAST(N'2017-02-19 14:40:47.770' AS DateTime), -1, CAST(N'2017-02-19 14:46:06.317' AS DateTime))
INSERT [dbo].[TBL_STOKGRUPLARI] ([ID], [GRUPADI], [GRUPKODU], [GRUPSAVEUSER], [GRUPSAVEDATE], [GRUPEDITUSER], [GRUPEDITDATE]) VALUES (3, N'Deneme 2', N'060982131', -1, CAST(N'2017-07-21 21:26:27.897' AS DateTime), NULL, NULL)
INSERT [dbo].[TBL_STOKGRUPLARI] ([ID], [GRUPADI], [GRUPKODU], [GRUPSAVEUSER], [GRUPSAVEDATE], [GRUPEDITUSER], [GRUPEDITDATE]) VALUES (4, N'Deneme 2221', N'00002', -1, CAST(N'2017-07-21 21:27:11.727' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[TBL_STOKGRUPLARI] OFF
SET IDENTITY_INSERT [dbo].[TBL_STOKHAREKETLERI] ON 

INSERT [dbo].[TBL_STOKHAREKETLERI] ([ID], [FATURAID], [IRSALIYEID], [STOKKODU], [GCKODU], [MIKTAR], [BIRIMFIYAT], [KDV], [TIPI], [SAVEUSER], [SAVEDATE], [EDITUSER], [EDITDATE]) VALUES (3, 2, 2, N'0000004', N'C', 2, CAST(45.00 AS Decimal(18, 2)), CAST(4.00 AS Decimal(8, 2)), N'Satış Faturası', -1, CAST(N'2017-07-22 20:20:58.223' AS DateTime), NULL, NULL)
INSERT [dbo].[TBL_STOKHAREKETLERI] ([ID], [FATURAID], [IRSALIYEID], [STOKKODU], [GCKODU], [MIKTAR], [BIRIMFIYAT], [KDV], [TIPI], [SAVEUSER], [SAVEDATE], [EDITUSER], [EDITDATE]) VALUES (4, 2, 2, N'0000004', N'C', 2, CAST(45.00 AS Decimal(18, 2)), CAST(4.00 AS Decimal(8, 2)), N'Satış Faturası', -1, CAST(N'2017-07-22 20:20:58.223' AS DateTime), NULL, NULL)
INSERT [dbo].[TBL_STOKHAREKETLERI] ([ID], [FATURAID], [IRSALIYEID], [STOKKODU], [GCKODU], [MIKTAR], [BIRIMFIYAT], [KDV], [TIPI], [SAVEUSER], [SAVEDATE], [EDITUSER], [EDITDATE]) VALUES (5, 3, 3, N'0000004', N'C', 4, CAST(45.00 AS Decimal(18, 2)), CAST(4.00 AS Decimal(8, 2)), N'Satış Faturası', -1, CAST(N'2017-07-22 20:22:31.333' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[TBL_STOKHAREKETLERI] OFF
SET IDENTITY_INSERT [dbo].[TBL_STOKLAR] ON 

INSERT [dbo].[TBL_STOKLAR] ([ID], [STOKBARKOD], [STOKKODU], [STOKADI], [STOKBIRIM], [STOKALISFIYAT], [STOKSATISFIYAT], [STOKALISKDV], [STOKSATISKDV], [STOKGRUPID], [STOKRESIM], [STOKSAVEUSER], [STOKSAVEDATE], [STOKEDITUSER], [STOKEDITDATE]) VALUES (15, N'qwe', N'0000003', N'stok3     ', N'ADET', CAST(25.00 AS Decimal(8, 2)), CAST(45.00 AS Decimal(8, 2)), CAST(2.00 AS Decimal(8, 2)), CAST(4.00 AS Decimal(8, 2)), 3, NULL, -1, CAST(N'2017-07-21 21:30:07.690' AS DateTime), -1, CAST(N'2017-07-21 21:33:14.663' AS DateTime))
INSERT [dbo].[TBL_STOKLAR] ([ID], [STOKBARKOD], [STOKKODU], [STOKADI], [STOKBIRIM], [STOKALISFIYAT], [STOKSATISFIYAT], [STOKALISKDV], [STOKSATISKDV], [STOKGRUPID], [STOKRESIM], [STOKSAVEUSER], [STOKSAVEDATE], [STOKEDITUSER], [STOKEDITDATE]) VALUES (16, N'szsdf', N'0000004', N'stok4     ', N'ADET', CAST(14.00 AS Decimal(8, 2)), CAST(45.00 AS Decimal(8, 2)), CAST(2.00 AS Decimal(8, 2)), CAST(4.00 AS Decimal(8, 2)), 4, NULL, -1, CAST(N'2017-07-21 21:33:35.470' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[TBL_STOKLAR] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_TBL_KULLANICILAR]    Script Date: 24.7.2017 19:45:59 ******/
ALTER TABLE [dbo].[TBL_KULLANICILAR] ADD  CONSTRAINT [IX_TBL_KULLANICILAR] UNIQUE NONCLUSTERED 
(
	[KULLANICI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[21] 2[15] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "TBL_BANKALAR"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 211
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "TBL_BANKAHAREKETLERI"
            Begin Extent = 
               Top = 8
               Left = 365
               Bottom = 199
               Right = 566
            End
            DisplayFlags = 280
            TopColumn = 3
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_BANKADURUM'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_BANKADURUM'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[21] 2[16] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "TBL_BANKAHAREKETLERI"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 198
               Right = 231
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "TBL_BANKALAR"
            Begin Extent = 
               Top = 17
               Left = 418
               Bottom = 147
               Right = 591
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 12
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_BANKAHAREKETLERI'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_BANKAHAREKETLERI'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[21] 2[5] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "VW_BANKADURUM"
            Begin Extent = 
               Top = 20
               Left = 433
               Bottom = 150
               Right = 603
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "TBL_BANKALAR"
            Begin Extent = 
               Top = 14
               Left = 129
               Bottom = 144
               Right = 302
            End
            DisplayFlags = 280
            TopColumn = 2
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_BANKALISTESI'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_BANKALISTESI'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[14] 2[18] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1[50] 4[25] 3) )"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1[50] 2[25] 3) )"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1[38] 3) )"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3) )"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "TBL_CARILER"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 248
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 14
         End
         Begin Table = "TBL_FATURALAR"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 244
               Right = 418
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "VW_KALEMLER"
            Begin Extent = 
               Top = 21
               Left = 521
               Bottom = 238
               Right = 691
            End
            DisplayFlags = 280
            TopColumn = 3
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 20
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      En' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_FATURALAR'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'd
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_FATURALAR'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_FATURALAR'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[40] 2[1] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "TBL_STOKHAREKETLERI"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 125
               Right = 198
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "TBL_STOKLAR"
            Begin Extent = 
               Top = 6
               Left = 236
               Bottom = 125
               Right = 409
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 13
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_KALEMLER'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_KALEMLER'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[21] 2[14] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "TBL_KASAHAREKETLERI"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_KASADURUM'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_KASADURUM'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[21] 2[16] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "TBL_KASAHAREKETLERI"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 8
         End
         Begin Table = "TBL_KASALAR"
            Begin Extent = 
               Top = 5
               Left = 294
               Bottom = 135
               Right = 464
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "TBL_CARILER"
            Begin Extent = 
               Top = 163
               Left = 248
               Bottom = 293
               Right = 418
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 14
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_KASAHAREKETLERI'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_KASAHAREKETLERI'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[7] 2[21] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "TBL_KASALAR"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "VW_KASADURUM"
            Begin Extent = 
               Top = 10
               Left = 337
               Bottom = 166
               Right = 546
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_KASALISTESI'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_KASALISTESI'
GO
USE [master]
GO
